<div class="loginMain">
  <div class="loginForm">
    <form role="form" action="/auth/local" method="post">
      <div class="loginItem">
        Fantasy DC
      </div>
      <div class="loginItem">
        <input class="loginInputText" type="text" name="identifier" placeholder="Username or Email">
      </div>
      <div class="loginItem">
        <input class="loginInputText" type="password" name="password" placeholder="Password">
      </div>
      <div class="loginItem">
        <button type="submit" class="loginInputButton">Sign in</button>
      </div>
      <% if (errors) {%>
        <div class="errorMsg">
          <% errors.forEach(function (error) { %>
            <%= __(error) %>
          <% }) %>
        </div>
      <% } %>
    </form>
  </div>
  <div class="copyrightfooter">
    ©2015
  </div>
</div>
  <!-- <% if (Object.keys(providers).length) {%>
    <h4>You can also use one of these...</h4>

    <% Object.keys(providers).forEach(function (key) { %>
      <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
    <% }) %>
  <% } %> -->
